// comments

.post-comments { 
	// container for all post comment content
	margin-top: 1.5rem;
	border-top: 1px dotted $greyblue;
	padding-top: 1.5rem;
}

.comment-list ol {
	list-style: none;
}

ol.comment-list {
	list-style: none;
	padding-left: 0;
	padding-bottom: 1.85rem;
	margin-top: 1rem;
	//border-bottom: 1px dotted $greyblue;
	font-size: .95rem;
	
	&:after {
		position: absolute;
		bottom: 0;
		top: 0;
		content: "";
		border-bottom: 1px dotted $greyblue;
	}

	li.comment {
		//margin-top: 1rem;
		margin-bottom: 1.5rem;

	}
	li.alt {

	}
	li.bypostauthor {

	}
	li.byuser {

	}
	li.comment-author-admin {

	}

	.comment-body {
		padding: .5rem .5rem 1.5rem .5rem;
		@include clearfix;
		//padding-bottom: 1.5rem;
	}

	.comment-meta {
		position: relative;

	}

	.fn {
		position: absolute;
		top: -.2rem;
		padding-left: 1rem;
	}

	.says {
		display: none;
	}

	.comment-author {

	}

	.comment-metadata {
		margin-left: 3rem;
		margin-top: -1.5em;

	}

	.comment-content{

		a { 
			word-wrap: break-word;
		}

		p {
			margin-bottom: .5rem;
		}

	}

	img.avatar {
		border-radius: 10px;
	}

	.reply {
		background-color: $lightbrown;
		border-radius: 4px;
		font-size: .9rem;
		color: $cream;
		padding-left: .5rem;
		padding-right: .5rem;
		text-align: center;
		margin-top: .5rem;
		float: right;

		a {
			color: $cream;
			text-decoration: none;
		}
		
		&:after {
			content: " \f21e ";
			font-family: "Ionicons";
		}
		
	}

	.bypostauthor {
		display: block;
		background-color: $mauve;
		border-radius: 4px;
		color: $cream;
		border: 1px dotted $lightbrown;

		a {
			color: $darkblue;
		}
		
		.reply {
		background-color: $cream;
		border-radius: 4px;
		font-size: .9rem;
		color: $mauve;
		text-align: center;
		margin-top: .5rem;
		float: right;

			a {
				color: $mauve;
				text-decoration: none;
			}
		}
	}
	.children {
		
			margin-left: 0;
			padding-left: 0;
		
	}

}

.edit-link {
	display: block;
}

// comment form

.comment-form {
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		background-color: $lightbrown;
		border-radius: 4px;
		font-size: .9rem;
		color: $cream;
		text-align: center;
		margin-top: .5rem;
		outline: 0;
		border: none;

		/*	border: 1px solid;
			border-color: #ccc #ccc #bbb;
			border-radius: 3px;
			background: #e6e6e6;
			color: rgba(0, 0, 0, .8);
			font-size: 12px;
			font-size: 0.75rem;
			line-height: 1;
			padding: .6em 1em .4em;*/
	}
}

// responsive media queries

@media screen and (min-width:660px) {
	
	ol.comment-list {
		.children {

				margin-left: 1.5em;

		}
	}
}