// site-page

html, body {
	overflow-x: hidden;
}

.site-page {
	max-width: 695px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1rem 0;
	min-height: 100vh;
	position: relative;

}

.full-width-bar {
	//position: relative;
	left: 50%;
	margin-left: -50vw;
	width: 100vw;
	min-width: 100%;
	padding: 0 calc(50vw - 50%);
	box-sizing: border-box;
	position: relative;
    background-color: transparent;

}

.site-content {
	margin-top: 3rem;
}

// grid for widgets

.grid-article-item {
	//float: left;
	padding-left: 20px;
	padding-right: 20px;
	clear: both;
	max-width: 100%;
}

@media screen and (min-width: 600px){
	.grid-article-item {
		width: percentage(1/2);
		margin-bottom: 2em;
		overflow: hidden;
		clear: none;
		float: left;
	}
}