// mixins

// fluid typography mixin for individual components

$min-vw: 20rem;
$max-vw: 41.25rem;

@function strip-unit($number) {
	@if type-of($number) == 'number' and not unitless($number) {
		@return $number / ($number * 0 + 1);
	}

	@return $number;
}

@mixin ft-base(
$font-size-min,
$properties: font-size
) {
		@each $property in $properties {#{$property}: $font-size-min;}
} 
	
@mixin ft-min(
$font-size-min,
$font-size-max,
$properties: font-size
) {
		@each $property in $properties {#{$property}: calc(#{$font-size-min} + #{strip-unit($font-size-max - $font-size-min)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});}
}

@mixin ft-max(
$font-size-max,
$properties: font-size
) {
		@each $property in $properties {#{$property}: $font-size-max;}
}