// links
a {
	color: $candy;
	text-decoration: underline;
	font-weight: 700;
	
	&:visited {
	color: $candy;
	}
	
	&:hover,
	&:focus,
	&:active {
		color: $mauve;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

//menus 

.top-nav {
	display: none; // temp for development
}
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

// pagination & post-navigation

.posts-pagination,
.post-navigation {
	margin-top: 1.5rem;
	border-top: 1px dotted $greyblue;
	padding-top: 1.5rem;
}

.posts-pagination {
	padding-bottom: 1rem;
	text-align: center;
	
	a {
		text-decoration: none;
	}
	
}

.post-navigation {
	padding-bottom: 2rem;
	margin-bottom: 4rem;
	
	a {
		text-decoration: none;
		
		&:hover {
			color: $candy;
		}
	}
	
	.post-nav-link {
		//font-variant: small-caps;
		text-transform: uppercase;
		font-family: "Hind", Tahoma, sans-serif;
		font-weight: 600;
		font-size: .75rem;
		text-decoration: underline;
		color: $candy;
	
	}
	.post-nav-title {
		font-weight: 400;
		font-size: .9rem;
		color: $lightbrown;
		
		&:hover {
			color: $lightbrown;
		}
	}
	
}


.page-nums, .prev-nav, .next-nav {
	background-color: $lightbrown;
	font-family: "Hind", Tahoma, sans-serif;
	font-weight: 600;
	border-radius: 6px;
	padding: 0.5rem;
	font-size: 1rem;
	color: $cream;
	padding-right: 1rem;
	padding-left: 1rem;
	//border: 2px $candy solid;

	
}

.prev-nav, .next-nav {
	text-transform: uppercase;
	letter-spacing: .15rem;
}

.page-numbers .current .page-nums {
	color: $candy;
}

.swap {
	display: none;
}


.comment-navigation,
.posts-navigation,
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

@media screen and (min-width: 550px){
	.swap {
		display: inline;
	}
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}