// links
a {
	color: $candy;
	text-decoration: underline;
	font-weight: 700;
	
	&:visited {
	color: $candy;
	}
	
	&:hover,
	&:focus,
	&:active {
		color: $mauve;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

//menus 

.top-nav {
	//display: none; // temp for development
	@include clearfix;
	float: left;
	text-align: center;
	
	a {
		display: block;
		text-decoration: none;
	}
	
	li {
		float: left;
		position: relative;
		padding-top: .5rem;
		//margin-top: .5rem;
		padding-right: 1.5rem;
		text-transform: uppercase;
		//font-size: .9rem;
		
		&:hover > a,
		&.focus > a {
		}
	}
	
	ul { // .main-nav ul 
		//display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		
		ul { // .main-nav ul ul
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;
			
			ul { // .main-nav ul ul ul
				left: -999em;
				top: 0;
			}
			
			li { // .main-nav ul ul li 
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a { // .main-nav ul ul a
				width: 200px;
			}

			:hover > a,
			.focus > a { // .main-nav ul ul a:hover/a.focus >
			}

			a:hover,
			a.focus {// .main-nav ul ul a:hover/.focus
			}
		}
		
		li:hover > ul,
		li.focus > ul { // .main-nav ul li:hover/.focus > ul
			left: auto;
		}
	}
		
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.top-nav.toggled ul {
	display: none;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.top-nav ul {
		display: block;
	}
}

// pagination & post-navigation

.posts-pagination,
.post-navigation {
	margin-top: 1.5rem;
	border-top: 1px dotted $greyblue;
	padding-top: 1.5rem;
}

.posts-pagination {
	padding-bottom: 1rem;
	text-align: center;
	
	a {
		text-decoration: none;
	}
	
}

.post-navigation {
	padding-bottom: 1.25rem;
	//margin-bottom: 4rem;
	
	a {
		text-decoration: none;
		
		&:hover {
			color: $candy;
		}
	}
	
	.post-nav-link {
		//font-variant: small-caps;
		text-transform: uppercase;
		font-family: "Hind", Tahoma, sans-serif;
		font-weight: 600;
		font-size: .75rem;
		text-decoration: underline;
		color: $candy;
	
	}
	.post-nav-title {
		font-weight: 400;
		font-size: .9rem;
		color: $lightbrown;
		
		&:hover {
			color: $lightbrown;
		}
	}
	
}


.page-nums, .prev-nav, .next-nav {
	background-color: $lightbrown;
	font-family: "Hind", Tahoma, sans-serif;
	font-weight: 600;
	border-radius: 6px;
	padding: 0.5rem;
	font-size: 1rem;
	color: $cream;
	padding-right: 1rem;
	padding-left: 1rem;
	//border: 2px $candy solid;

	
}

.prev-nav, .next-nav {
	text-transform: uppercase;
	letter-spacing: .15rem;
}

.page-numbers .current .page-nums {
	color: $candy;
}

.swap {
	display: none;
}


.comment-navigation,
.posts-navigation,
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

@media screen and (min-width: 550px){
	.swap {
		display: inline;
	}
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}