// site-page

.site-page {

}

// header
.masthead {
	background-color: $white;
	padding-bottom: 2rem;

}

.site-banner {
	border-bottom: 1px solid $offblack;
	//margin: 0 auto;

}

.site-title {
	font-size: 2.25rem;
	color: $offblack;
	margin-bottom: 0;

	a {
		text-decoration: none;
		color: $offblack;
		font-weight: 700;

		&:visited {
			color: $offblack;
		}

		&:hover,
			&:focus,
			&:active {
			color: $mauve;
		}

		&:hover,
			&:focus,
			&:active {
			outline: 0;
		}
	}
}

.site-description {
	font-size: 1.05rem; 

}

// posts & pages

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	//display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.article-header {
	text-align: center;
}

.page-header {
	background-color: $offblack;
	padding-top: 1.25rem;
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	//text-align: left;
}

.single .article-header, 
.page .article-header {
	background-color: $offblack;
	padding-top: 1.25rem;
	padding-bottom: 4rem;
	@extend .article-header;
}

.single .article-title,
.page .article-title,
.page-header {
	@include fluid-type(1.67rem, 2.1rem );
	text-align: center;
	color: $white;
}
.article-title {
	font-weight: 700;
	color: $lightbrown;
	font-size: 1.67rem;

	a {
		font-weight: 600;
		text-decoration: none;
		color: $lightbrown;

		&:visited {
			color: $lightbrown;
		}

		&:hover,
			&:focus,
			&:active {
			color: $mauve;
		}

		&:hover,
			&:focus,
			&:active {
			outline: 0;
		}
	}

}

.article-subtitle {
	// add styles for subheading on general updates posts
}

.article-meta {

}

.article-tags {
	padding-top: .75rem;
}

.single .article-tag, .single .article-tags a {
	font-size: .75rem;
	padding-right: .4rem;
	color: $mauve;

	&:visited {
		color: $mauve;
	}

	&:hover,
		&:focus,
		&:active {
		color: $greyblue;
	}

	&:hover,
		&:focus,
		&:active {
		outline: 0;
	}
}

.article-tag, .article-tags a {
	font-size: .75rem;
	padding-right: .4rem;
	color: $greyblue;

}
.article-date {
	color: $candy;
	font-weight: 700;
}

.single .article-content,
.page .article-content {
	background-color: $cream;
	z-index: 3;
	position: relative;
	margin-top: -1.75rem; // need to disable @extend for this to work and not be overridden
	padding: .25rem 1.25rem 0;
	@include fluid-type(1rem, 1.085rem);
	line-height: 1.6;
	letter-spacing: -.03rem;
}

.article-content {
	margin: 1.5em 0 0;
}

.single-meta {
	@include fluid-type(.75rem, .95rem);
	//font-size: .75rem;
	color: $cream;
	padding-bottom: 1rem;

	a {
		text-decoration: none;
		color: $white;
		font-weight: 400;

		&:visited {
			color: $white;
		}

		&:hover,
			&:focus,
			&:active {
			color: $mauve;
		}

		&:hover,
			&:focus,
			&:active {
			outline: 0;
		}
	}


}

// archives
.archive-title {
	
}

.archive-description {
	font-size: 1rem;
	
	& p {
		margin: 0;
	}
	
}



// footer
.site-footer {
	background-color: $lightbrown;
	font-size: .9rem;
	color: $white;
	position: absolute;
	bottom: 0;

	a {
		text-decoration: none;
		color: $white;

		&:visited {
			color: $white;
		}

		&:hover,
			&:focus,
			&:active {
			color: $mauve;
		}

		&:hover,
			&:focus,
			&:active {
			outline: 0;
		}
	}
}

.footer-content {
	padding: 1rem 0;
	text-align: center;
}



// widgets

.site-widgets {
	@include fluid-type(1rem, 1.02rem);
	background-color: $cream;
	padding-top: 2rem;
	margin-top: 1.5rem;
	border-top: 1px dotted $greyblue;


	ul {
		list-style: none;
		border-left: 3px $mauve solid;
		padding-left: 1rem;
		margin-left: 1rem;
	}

	a {
		text-decoration: none;
	}
}

.site-widgets:after {
	content: "";
	display: table;
	clear: both;
}
.widget {
	margin: 0 0 1.5em;
}

.widget-title {
	text-transform: uppercase;
	letter-spacing: .15rem;
	font-size: 1.35rem;

}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

// comments

.post-comments {
	margin-top: 1.5rem;
	border-top: 1px dotted $greyblue;
	padding-top: 1.5rem;
}

.comment-list {
	padding-bottom: 1.85rem;
	border-bottom: 1px dotted $greyblue;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}