// typography

html {
	font-size: 16px;
	@include fluid-type(1rem, 1.02rem);
}

body,
button,
input,
select,
textarea {
	color: $offblack;
	font-family: "Inconsolata", "Karla", Courier, monospace;
	font-weight: 400;
	line-height: 1.5;
	font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: 0;
	font-family: "Hind", Tahoma, sans-serif;
}

// baseline font sizes in pixels for HEADING elements

h1 {@include fluid-type(1.68rem, 2.35rem ); }
h2 {@include fluid-type(1.56rem, 1.85rem);}
h3 {@include fluid-type(1.45rem, 1.75rem);}
h4 {@include fluid-type(1.25rem, 1.56rem);}
h5 {@include fluid-type(1.15rem, 1.25rem);}
h6 {@include fluid-type(1.05rem, 1.125rem);}



p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote,
q {
	border-left: 4px solid $mauve;
	padding-left: .75rem;
	margin-left: 1rem;
	margin-right: .5rem;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background-color: $lightbrown;
	border-left: 4px solid $candy;
	color: $white;
	font-family: "Cousine", "Courier 10 Pitch", Courier, monospace;
	font-size: 0.9rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
	tab-size: 4;
	//white-space: pre-wrap;
	
	code {
		background-color: inherit;
		font-size: inherit;
	}
}

code,
kbd,
tt,
var {
	font-family: "Cousine", Consolas, monospace;
	font-size: 0.85rem;
	background-color: $taupe;
	padding: .25rem .4rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background-color: $taupe;
	padding: 0 .25rem;
	text-decoration: none;
}

big {
	font-size: 125%;
}