// fonts: Hind:300,400,500,600,700|Inconsolata:400,700|Cousine:400,400i,700,700i|Karla:400,400i,700,700i

// media query variables
$min-vw: 20rem;
$max-vw: 41.25rem;

// colors

$offblack: #2e382e;
$lightbrown: #5c5346;
$taupe: #e8d2ae;
$candy: #a61c3c;
$mauve: #b97375;
$cream: #fdeee9;
$darkblue: #272838;
$greyblue: #848c8e;
$midblue: #435058;
$white: #ffffff;
$black: #000000;